
.movie-container {
  display: flex;
  max-width: 900px;
  gap: 2rem;
  margin: 0 auto;
}

.movie-container img {
  width: 300px;
  border-radius: 12px;
  object-fit: cover;
  transition: all 0.4s ease;
  filter: brightness(0.9);
}

.movie-container img:hover{
  filter: brightness(1.1);
  transform: translateY(-8px) scale(1.02);
}

.movie-info {
  width: 100%;
  line-height: 2.2rem;
  text-align: justify;
}

.movie-info h1 {
  margin-bottom: 2rem;
}
